<div *ngIf="personneldata">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name    </th>
                <th>Rank    </th>
                <th>Serno  </th>
                <th>Branch   </th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>{{personneldata.Name}}   </td>
                <td>{{personneldata.Rank}}   </td>
                <td>{{personneldata.Service_no}}   </td>
                <td>{{personneldata.Branch}}   </td>
                
                   
           
            </tr>
        </tbody>
    </table>
</div>
<main class="form-signin">
    <form [formGroup]="addremarks" (submit)="submit()">
      <h1 class="h3 mb-3 fw-normal">Add Remarks</h1>
  
      <div class="form-floating">
        <input formControlName="remarks" type="text" class="form-control" placeholder="Remarks">
      </div>
  
    <button class="w-100 btn btn-lg btn-primary" type="submit">Add Remarks</button>
    </form>
  </main>
