<h1 style="text-align: center;">
This is an application to develop software!</h1>

<div class="container">
    <h3 class="d-flex justify-content-center">
        Share your ideas here.
    </h3>
    <nav class="navbar navbar-expand-sm bg-heigt nabvar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button mat-button routerLink="personnel" class="m-1 btn btn-light btn-outline-primary" Button>Personnel</button>
            </li>
            <li class="nav-item">
                <button  mat-button routerLink="proforma" class="m-1 btn btn-light btn-outline-primary" Button>Proforma</button>    
            </li>
            <li class="nav-item">
                <button mat-button routerLink="editpers" class="m-1 btn btn-light btn-outline-primary" Button>Add Personnel</button>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>